extends layout

block content
   div.text
      h4 You have been auth early, now you dont need it.
      h4 You can come back to the main page or logout.
      ul.nav
         li
            a(href="/logout") Logout

