extends layout

block content
  div.text
    h1 Lab number 4/5 auth with passport js
    ul.nav
      h3
        li
          a(href = 'https://www.youtube.com/' style="color: white") If you want see sth interesting you can press this
        li
          a(href = 'https://bootstrap-4.ru/' style="color: white") This is very good resource for style
        li
          a(href = 'https://github.com/Hittry/lab3' style="color: white") My GitHub repositoriestories