doctype html
html
    head
        style
            include style.css
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    body
        div.bg
            nav.navbar.navbar-inverse
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type='button')
                        a.navbar-brand(href='/' style="color: white") Node.js Auth
                    ul.nav.navbar-right
                        h4
                            li
                                a(href='/login' style="color: white") Login
                            li
                                a(href='/reg' style="color: white") Register


            div.container
                div.content
                    block content